  <div class="ma-master-card__head">
    <h3 class="ma-master-card__title">CPT to Credential</h3>
    <p class="ma-master-card__subtitle">
      Manage credential licensing and their allowed CPT codes.
    </p>
  </div>
  <div class="ma-master-card__toolbar">
    <div class="row g-2 align-items-center w-100">
      <!-- Search input -->
      <div class="col-12 col-lg-4">
        <div class="ma-input-group ma-filter-item ma-filter-item--search">
          <i class="fa-solid fa-magnifying-glass ma-input-icon"></i>
          <input
            type="text"
            class="form-control"
            placeholder="Search by License or CPT Code..."
            aria-label="Search by License or CPT Code"
            [(ngModel)]="cptSearch"
            appTrimWhitespace
            maxlength="100"
            (keydown.enter)="onCptSearch()"
          />
        </div>
      </div>
      <!-- Search & Reset buttons -->
      <div class="col-12 col-lg-auto d-flex gap-2">
        <button
          type="button"
          class="btn ma-btn btn-primary"
          (click)="onCptSearch()"
        >
          Search
        </button>
        <button
          type="button"
          class="btn ma-btn btn-outline-secondary"
          (click)="clearCptSearch()"
        >
          Reset
        </button>
      </div>
      <!-- Add -->
      <div class="col-12 col-lg-auto ms-lg-auto d-flex justify-content-end gap-2">
        @if (perms.can(PERMISSION_MODULE.Cpt, PERMISSION_ACTION.Create)) {
          <a routerLink="/masters/cpt-form" class="btn ma-btn btn-primary" aria-label="Add CPT mapping">
            Add <i class="fa-solid fa-plus ms-2"></i>
          </a>
        }
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <kendo-grid
      class="ma-kendo-grid table ma-master-table ma-master-table--cpt"
      [data]="cptData()"
      [pageSize]="cptState.take"
      [skip]="cptState.skip"
      [sortable]="true"
      [sort]="cptState.sort"
      filterable="menu"
      [filter]="cptState.filter"
      [pageable]="{ buttonCount: 3, type: 'numeric', pageSizes: pageSizes }"
      [scrollable]="'none'"
      (dataStateChange)="cptDataStateChange($event)"
    >

      <kendo-grid-column title="Sr. No." [width]="80" [filterable]="false" [sortable]="false">
        <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
          {{ rowIndex + 1 }}
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="license" title="License" [width]="220">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="k-text-ellipsis" [ngbTooltip]="dataItem.license">{{ dataItem.license || '-' }}</div>
        </ng-template>
        <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
          <dropdownlist-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
            [filterService]="filterService" textField="label" valueField="value" [data]="licenseOptions">
          </dropdownlist-filter>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="cpt_codes" title="CPT Code" [width]="250" [sortable]="false" [filterable]="false">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="k-text-ellipsis" [ngbTooltip]="dataItem.cpt_codes?.join(', ') || ''">
            {{ dataItem.cpt_codes?.join(', ') || '-' }}
          </div>
        </ng-template>
      </kendo-grid-column>

      @if (perms.canAny(PERMISSION_MODULE.Cpt, PERMISSION_ACTION.Update, PERMISSION_ACTION.Delete)) {
        <kendo-grid-column title="Actions" [width]="110" [filterable]="false" [sortable]="false">
          <ng-template kendoGridCellTemplate let-dataItem>
            <div class="ma-table-actions">
              @if (perms.can(PERMISSION_MODULE.Cpt, PERMISSION_ACTION.Update)) {
                <button
                  class="ma-btn-icon-sm"
                  type="button"
                  ngbTooltip="Edit"
                  placement="top"
                  [attr.aria-label]="'Edit ' + (dataItem.license || '')"
                  (click)="editCpt(dataItem)"
                >
                  <i class="fa-regular fa-pen-to-square"></i>
                </button>
              }
              @if (perms.can(PERMISSION_MODULE.Cpt, PERMISSION_ACTION.Delete)) {
                <button
                  class="ma-btn-icon-sm"
                  type="button"
                  ngbTooltip="Delete"
                  placement="top"
                  [attr.aria-label]="'Delete ' + (dataItem.license || '')"
                  (click)="deleteCpt(dataItem)"
                >
                  <i class="fa-regular fa-trash-can"></i>
                </button>
              }
            </div>
          </ng-template>
        </kendo-grid-column>
      }

      <ng-template kendoGridNoRecordsTemplate>
        <div class="ma-grid-empty">No CPT to Credential mappings match your current search.</div>
      </ng-template>
    </kendo-grid>
  </div>

